<a href="https://colab.research.google.com/github/SPS-L/pyeplan/blob/master/examples/5_bus_MG_Planning_Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>

# Illustrative example for investment and operation planning for a small microgrid network with five buses

---
<center>


## Introduction

In this example we consider a small microgrid network consisting of 5 buses. A bus corresponds to a location where the power is either injected into the system (e.g., a generator) or consumed (an electrical load). There is an load connected at each bus. 

We use one representative day with three operational hours is used to describe the potential operational scenarios i.e., to define the load and generation profiles. 

Three types of investment candidate generators i.e, battery units, solar units and diesel generation units. Their potential location in the network will be defined using the input system data.

We showcase how the Investment and Operation Planning Modules of PyEPLAN can be used to derive optimal units to be installed in the network.

## Instructions

*   This example is designed to be run on Google Colab. If this is the first time you use Colab, please take a 3-minute break and check out [this video](https://youtu.be/inN8seMm7UI).

*   To get a quickstart, simply select "**Runtime->Run all**" in the menu and accept the prompt. This will execute the entire notebook and you can read through it like a report.

*   At the warning prompt i.e., '*Warning: This notebook was not authored by Google*', select "Run anyway".

*  As a pre-requisite, take time to study the [single household example](https://colab.research.google.com/github/SPS-L/pyeplan/blob/master/examples/SHS_Planning_Example.ipynb) before continuing.

*   It is not a pre-requisite to have python programming experience to go through this example. However, for the interested learner, select "Show code" to view more details on how the platfrom has been setup.

*   After you have gone through this example, try out the task at the end of the report to enhance your learning experience. After making any changes, simply select "Runtime->Run all" to see the effect of your changes at each instant.

## Preparing the eplatform to execute the PyEPLAN software
The following commands are used to download the system data and intialise the Colab platform to run PyEPLAN.

In [ ]:
#@title 
!rm -r sample_data
!rm -r pyeplan

In [ ]:
#@markdown  

!git clone https://github.com/SPS-L/pyeplan.git
!cd pyeplan/examples

In [ ]:
#@title 

!apt-get install -y -qq glpk-utils  &> /dev/null
!apt-get install -y -qq coinor-cbc  &> /dev/null
!pip install -q pyomo &> /dev/null
!pyomo install-extras &> /dev/null

In [ ]:
#@markdown PyEPLAN software is installed using the following command. 

!pip install -q pyeplan==1.1.0  &> /dev/null

In [ ]:
#@markdown Only use this if there is a bug fixed in the github but not yet uploaded to pypi repository 

#!pip install git+git://github.com/SPS-L/pyeplan@master  &> /dev/null

## Defining the system input data

Input files containing the system data are added to PyEPLAN using csv files. These files contain the load demand for each planning hour and load point, candidate and existing generators, network layout data and load and renewable generation profiles. 

The data input and format of different csv files accepted by PyEPLAN software is defined in the [user guide](https://pyeplan.sps-lab.org/user_guide/input.html#).  

As a basis, the user should to define the load demand and at least one generation input to be able to utilise the investment and operation modules of PyEPLAN.

Some of the data inputs include:

### Electricity load demand at each hour

The total active power consumption in kW at each of the three (3) hours for one (1) representative day is:

In [1]:
#@title 

import pandas as pd
pd.read_csv("5_bus/prep_dist.csv")

      0
0  24.6
1  55.4
2  80.7

### Potential investment candidates

#### Battery Units

In [2]:
#@title 

pd.read_csv("5_bus/cbat_dist.csv")

,bus,icost,ocost,scost,ec,ed,emax,emin,eini,pmax,pmin,qmax,qmin
0,0,347.2176,0,0,0.92,0.92,1200,0,600,100,0,0,0
1,4,347.2176,0,0,0.92,0.92,1200,0,600,100,0,0,0

In [3]:

#@markdown Change the battery system capital investment cost

# reading the csv file
df = pd.read_csv("5_bus/cbat_dist.csv")
old_bcost = df.loc[0, 'icost'] 
#bat_inv_cost = "247.2176" #@param [147.2176, 247.2176, 347.2176]
bat_inv_cost= 347.2176 #@param {type:"slider", min:150, max:400, step:1}

# updating the column value/data
df['icost'] = df['icost'].replace({old_bcost: bat_inv_cost})
  
# writing into the file
df.to_csv("5_bus/cbat_dist.csv", index=False)

#pd.read_csv("5_bus/cbat_dist.csv")

#### Solar PV Units

In [4]:
#@title 

pd.read_csv("5_bus/csol_dist.csv")

   bus  icost  ocost  scost  pmin  pmax  qmin  qmax
0    0  108.0      0      0     0    50   -50    50
1    4  108.0      0      0     0    50   -50    50

In [5]:
#@markdown Change the solar unit capital investment cost

# reading the csv file
df = pd.read_csv("5_bus/csol_dist.csv")
old_pvcost = df.loc[0, 'icost'] 
pv_inv_cost =108  #@param {type:"slider", min:80, max:130, step:1}
#pv_inv_cost = "118.766" #@param [88.766	, 108.766	, 118.766	]

# updating the column value/data
df['icost'] = df['icost'].replace({old_pvcost: pv_inv_cost})
  
# writing into the file
df.to_csv("5_bus/csol_dist.csv", index=False)

#### Diesel/Fossil Units

In [6]:
#@title 

pd.read_csv("5_bus/cgen_dist.csv")

   bus    icost  ocost  scost  pmin  pmax  qmin  qmax  hr
0    0  32.0345   0.27      0     0   100     0     0   3

In [7]:
#@title  { run: "auto" }
#@markdown Change the diesel generator capital investment cost

# reading the csv file
df = pd.read_csv("5_bus/cgen_dist.csv")
old_gcost = df.loc[0, 'icost'] 
#gen_inv_cost = "32.0345" #@param [12.0345	, 22.0345	, 32.0345	]
gen_inv_cost = 32.0345 #@param {type:"slider", min:10, max:40, step:1}
# updating the column value/data
df['icost'] = df['icost'].replace({old_gcost: gen_inv_cost})
  
# writing into the file
df.to_csv("5_bus/cgen_dist.csv", index=False)

In [8]:
#@markdown Change the diesel generator operation cost { run: "auto" }

# reading the csv file
df = pd.read_csv("5_bus/cgen_dist.csv")
old_gocost = df.loc[0, 'ocost'] 
#gen_op_cost = "0.27" #@param [0.17	, 0.27	, 0.37]
gen_op_cost = 0.27 #@param {type:"slider", min:0.10, max:0.50, step:0.01}

# updating the column value/data
df['ocost'] = df['ocost'].replace({old_gocost: gen_op_cost})
  
# writing into the file
df.to_csv("5_bus/cgen_dist.csv", index=False)

## Using the invesment and operation planning module from PyEPLAN

In [9]:
#@markdown This command is used to access the PyEPLAN Planning Module within the Colab environment.  

from pyeplan import inosys

The module is initialised with inputs including but not limited the following :
* The input directory for the data. The input data folder should consists of 'csv' files that contain data description of the load, newtork paramters and generation units as defined in the [user guide](https://pyeplan.sps-lab.org/user_guide/input.html#).
* ref_bus: Reference node
* dshed_cost: Demand Shedding Price
* rshed_cost: Renewable Shedding Price
* phase: Number of Phases (Default 3)
* sbase: Base Apparent Power (Default 1 kW)

In [10]:
#@markdown The following command is used to intialise the Planning module of PyEPLAN

inosys = inosys('5_bus', ref_bus = 0, dshed_cost = 100, rshed_cost = 0, phase = 3,)

## Solving the investment and operation planning problem

PyEPLAN solves the investment and operation planning problems simultaneously. 

The optimisation problem will be solved based on the input arguments set by the user. Some of the planning options that can be set by the user include the following:

* If the user has pre-defined sizes of the investment candidates the input '**invest = True**' i.e., unit capacity = maximum capacity. Otherwise, if the user has no knowledge of the size of the candidates, these can be optimally derived by the software by setting '**invest = False**' where the unit capacity <= maximum capacity.

* The user can set solver program by defining the input to the '**solver**'. Options include both open source solvers include glpk, cbc, and commercial solvers ipopt, gurobi given one has the required licences. 

* If the user desires only to solve an operation planning problem, this can be ensured by setting input 'onlyopr = True'.

In [11]:
#@markdown The command below is used to set the input parameters and solve the microgrid planning problem.

inosys.solve(solver = 'glpk', onlyopr = False, invest = False, )

GLPSOL--GLPK LP/MIP Solver 5.0
Parameter(s) specified in the command line:
 --write C:\Users\Petros\AppData\Local\Temp\tmppmm2mkt7.glpk.raw --wglp C:\Users\Petros\AppData\Local\Temp\tmpgruane45.glpk.glp
 --cpxlp C:\Users\Petros\AppData\Local\Temp\tmp1mdhko6c.pyomo.lp
Reading problem data from 'C:\Users\Petros\AppData\Local\Temp\tmp1mdhko6c.pyomo.lp'...
217 rows, 132 columns, 501 non-zeros
1294 lines were read
Writing problem data to 'C:\Users\Petros\AppData\Local\Temp\tmpgruane45.glpk.glp'...
1083 lines were written
GLPK Simplex Optimizer 5.0
217 rows, 132 columns, 501 non-zeros
Preprocessing...
99 rows, 74 columns, 289 non-zeros
Scaling...
 A: min|aij| =  1.852e-05  max|aij| =  6.000e+02  ratio =  3.241e+07
GM: min|aij| =  5.868e-01  max|aij| =  1.704e+00  ratio =  2.904e+00
EQ: min|aij| =  3.536e-01  max|aij| =  1.000e+00  ratio =  2.828e+00
Constructing initial basis...
Size of triangular part is 99
      0: obj =   5.865550000e+06 inf =   2.924e+03 (21)
     42: obj =   5.249197516e+06 inf =   7.816e-14 (0)
*    67: obj =   1.439222359e+04 inf =   1.112e-14 (0)
OPTIMAL LP SOLUTION FOUND
Time used:   0.0 secs
Memory used: 0.2 Mb (214073 bytes)
Writing basic solution to 'C:\Users\Petros\AppData\Local\Temp\tmppmm2mkt7.glpk.raw'...
358 lines were written

## Results

A folder named 'results' will be created when the optimal solution to the planning problem has been obtained. The different result files are defined in the [user guide](https://pyeplan.sps-lab.org/user_guide/output.html). Below we show the capital costs and operational costs obtained to satify the load in the 5-bus network and the type and size of each installed unit.

### Total investment and operational costs

In [12]:
#@markdown The investment and operational costs are obtained using this command

inosys.resCost()

              total costs  14392.223586
0  total investment costs  11462.064052
1   total operation costs   2930.159534

### Number and capacity of battery units installed

In [13]:
#@markdown The capacity and location of battery units installed is obtained using this command.

inosys.resBat()

      Installed Capacity (kW)  Bus
Unit
1                         0.0    0
2                         0.0    4

### Number and capacity of solar units installed

In [14]:
#@markdown The capacity and location of solar units installed is obtained using this command.

inosys.resSolar()

      Installed Capacity (kW)  Bus
Unit
1                        50.0    0
2                        50.0    4

### Number and capacity of diesel units installed

The capacity and location of diesel units installed is:

In [15]:
#@markdown 

inosys.resConv()

      Installed Capacity (kW)  Bus
Unit
1                    20.66722    0

### Amount of load curtailed

In [16]:
#@markdown The amount of load in kW not served or curtailed at each node.

ret = inosys.resCurt()

In [18]:
ret['demand_shedding']

     0    1    2
0  0.0  0.0  0.0
1  0.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  0.0  0.0
4  0.0  0.0  0.0

In [19]:
ret['solar_curtailment']

          0    1    2
0  0.708609  0.0  0.0
1  0.000000  0.0  0.0
2  0.000000  0.0  0.0
3  0.000000  0.0  0.0
4  0.000000  0.0  0.0

In [20]:
ret['wind_curtailment']

     0    1    2
0  0.0  0.0  0.0
1  0.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  0.0  0.0
4  0.0  0.0  0.0

## Tasks

This example showcases the planning modules in PyEPLAN using a 5-bus network. Note however that different solutions may be obtained by varrying the input parameters in the system data.

**Task**: For your task, use the sliders under the section 'Potential investment candidates' to vary the investments and operation costs of the investment candidate generators. Vary the costs of one module at a time by either increasing or decreasing its inital value and observe the changes to the optimal solution.

*  After every change you make, click on "Runtime->Run all" and accept the prompt. This will execute the entire notebook with the new values.

*  How does the optimal microgrid solution change with variations in the different costs?